.slider {
  display: flex;
  justify-content: center;
}
.right-arrow {
  border-left: 80px solid black;
  right: 300px
}

.left-arrow {
  border-right: 80px solid black;
  left: 300px;
}
.arrows {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  position: absolute;
  margin: 85px;
}
.arrows:hover{
  cursor: pointer;
}