.right-arrow {
  border-left: 100px solid black;
}

.left-arrow {
  border-right: 100px solid black;
}
.arrows {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  position: absolute;
}